<% provide(:title) %>

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Being Mindful</h1>
      <p class="splash-subhead">
        Welcome to BeingMindful.com
      </p>
    </p>

    <p><%= link_to("Sign up!", signup_path, class: "pure-button pure-button-primary") %></p>
  </div>
</div>
