<% provide(:title, "Edit user") %>

<h2>Update your profile info</h2>

  <div class="gravatar-edit">
    <%= gravatar_for @user %>
    <%= link_to("change", href="http://gravatar.com/emails", target: "_blank") %>
  </div>


<div class="well row">
  <%= render 'form' %>

</div>