<% provide(:title, "All users") %>


<div class="all-users">
  <div class="paginate">
    <%= will_paginate %>
  </div>
    <h1 class="head">All users</h1>
    <ul class="users">
      <%= render @users %>
    </ul>

  <div class="paginate">
    <%= will_paginate %>
  </div>
</div>



