<% provide(:title, "All users") %>

<div class="all-users">
  <div class="pagination">
    <%= will_paginate %>
  </div>
  <table>
    <h1 class="head">Everyone</h1>
    <ul class="users">
      <%= render @users %>
    </ul>
  </table>
  <div class="pagination">
    <%= will_paginate %>
  </div>
</div>

