<% provide(:title, "All users") %>

<div class="all-users">
  <div class="pagination">
    <%= render partial: 'shared/search' %>
    <p>
      <%= link_to 'View all users', users_path %>
    </p>

  </div>
  <table>
    <h1 class="center">All users</h1>
    <ul class="users">
      <li>
        <%= render @users %>
      </li>
    </ul>
  </table>
  <!--<div class="pagination">-->

  <!--</div>-->
</div>

