<div class="posts well">
  <div class="content">
    <%= post.content %><br />
  </div>
  
  <div class="image center">
    <%= image_tag post.image_url if post.image? %>
  </div>

  <div class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </div>

  <div class="delete">
  <% if current_user?(post.user) %>
   <small><%= link_to "delete", post, method: :delete,
                        data: { confirm: "Are you sure?"},
                        title: post.content %></small>
  </div>
  <% end %>

</div>